/* Base */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f7f7f7;
  color: #333;
}

.app {
  padding-top: 120px;
  padding-bottom: 70px;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.logo-img {
  max-height: 100%;
  max-width: 90%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* Main */
.main-content {
  padding: 2rem;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #000;
  color: white;
  padding: 0rem;
  text-align: center;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}


/* Responsive */
@media (max-width: 600px) {
  .header {
    height: 100px;
  }

  .logo-img {
    max-width: 85%;
  }

  .app {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .footer {
    height: 60px;
    padding: 0.75rem;
  }

  .main-content,
  .body-section,
  .about {
    padding: 1rem;
  }
}
